ConvNets/preprocess_batch_1.p
ConvNets/preprocess_batch_2.p
ConvNets/preprocess_batch_3.p
ConvNets/preprocess_batch_4.p
ConvNets/preprocess_batch_5.p
ConvNets/preprocess_test.p
ConvNets/preprocess_validation.p
ConvNets/cifar-10-batches-py/
ConvNets/image_classification.index
ConvNets/image_classification.meta
ConvNets/cifar-10-python.tar.gz
ConvNets/checkpoint
ConvNets/image_classification.data-00000-of-00001
.ipynb_checkpoints/

*.pyc
*.p
*.pkl 
